/* ad home page styles here */
body {
    display: flex;
    background-image: url('../assets/background.png');
    background-size: 120%;
    /* min-height: 500px; */
    background-position: center;
    min-height: 1000px;
    min
    background-repeat: no-repeat;
    margin-top: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;

}

#learn {
    font-family: 'Amatic SC', cursive;
    font-size: 120px;
    text-align: center;
}
/* #dragon-age {
    font-size: 50px;
} */

img {
    height: 400px;
}
